.hero-video-container {
    position: relative;
    margin-top: 101px;
    width: 100%;
    height: calc(75vh - 7px);
}

.hero-video-container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 990px) {
    .hero-video-container {
        height: auto;
        margin-top: 93px;
    }
}