* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  /* Blues */
  --color-primary-dark: #002bc6;
  --color-primary-light: #001372;

  /* Yellows */
  --color-highlight-light: #ffe45c;
  --color-highlight-dark: #ffc200;

  /* Reds */
  --color-accent-light: #e50000;
  --color-accent-dark: #af0000;

  --color-success-btn: #28a745;
  --color-success-btn-hover: #218838;

  --color-body-gray: #E8E8E8;
  --color-body-light: #fff;
}


a {
  text-decoration: none;
}

.container {
  width: 85vw;
  margin: 0 auto;
}


@font-face {
  font-family: 'Exo 2';
  src: url('../assets/fonts/Exo/Exo2-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../assets/fonts/Exo/Exo2-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../assets/fonts/Exo/Exo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../assets/fonts/Exo/Exo2-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../assets/fonts/Exo/Exo2-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}


@media (max-width: 990px) {
  .container {
    width: 90vw;
  }

  h2 {
    font-size: 22px;
  }
}