.teamPage {
    margin-top: 101px;
}

.page-team-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.page-team-header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-team-header img {
    width: 200px;
}

.page-team-header h2 {
    font-size: 41px;
    color: var(--color-highlight-light);
    text-transform: uppercase;
    font-style: italic;
}

.page-team-header p {
    font-size: 18px;
    color: #fff;
    width: 50%;
}

.team-owner {
    padding: 76px 0px;

}

.team-owner .container {
    background-color: var(--color-primary-light);
    padding: 32px 39px;
    border-radius: 14px;

    display: flex;
    align-items: flex-end;
    position: relative;

}

.team-owner .container .img-container {
    width: 20%;
}

.team-owner .container .img-container img {
    width: 245px;
    position: absolute;
    bottom: 0;
    right: 59px;
}

.owner-info h4 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.owner-info p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 85%;
}

.owner-info h2 {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 25px;
    color: var(--color-highlight-light);

}

.team-players {
    background-color: var(--color-primary-light);
        padding: 23px 0 50px;
}

.team-players h2 {
    color: var(--color-highlight-light);
    font-size: 35px;
    font-style: italic;
}

.players-container {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    row-gap: 90px;

    padding-top: 50px;
}

.players-container .player {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-primary-dark);
    width: 31%;
    color: #fff;
    border-radius: 14px;
}

.players-container .player:hover {
    background-color: var(--color-accent-dark);
}

.players-container .player .player-info {
    padding: 18px 29px;
}

.players-container .player h4 {
    font-size: 18px;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--color-highlight-light);
}

.players-container .player h3 {
    font-size: 43px;
    font-weight: 400;
    margin-top: 21px;
}

.players-container .player h5 {
    padding: 5px 18px;
    background-color: var(--color-highlight-dark);
    color: #000;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    margin-top: 19px;

}

.players-container .player .img-container {
    width: 20%;
}

.players-container .player .img-container img {
    width: 188px;
    position: absolute;
    bottom: 0;
    right: 0;
}


@media (max-width:990px) {
    .page-team-header h2 {
        font-size: 24px;
    }

    .teamPage {
        margin-top: 93px;
    }

    .team-owner .container .img-container img {
        width: 145px;
        bottom: 0;
        right: 9px;
    }

    .team-owner .container{
        padding: 12px 19px;
    }

    .owner-info p{
        display: none;
    }

    .players-container .player{
        width: 100%;
    }

    .players-container .player .img-container img{
        width: 140px;
    }

    .players-container .player h5{
        margin-top: 12px;
    }
    
    .players-container .player h3{
        font-size: 28px;
        margin-top: 10px;
    }

    .players-container .player .player-info {
        padding: 8px 19px;
    }

    .players-container{
        padding-top: 16px;
    }

    .team-players{
        padding: 23px 0 24px;
    }

    .team-players h2{
        font-size: 28px
    }
}